<module>
	<rawname>voximal</rawname>
	<name>Voximal</name>
	<category>Applications</category>
	<version>14.0</version>
  <publisher>Ulex Innovative Systems</publisher>
  <license>AGPLv3+</license>
  <licenselink>www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<candisable>yes</candisable>
	<canuninstall>yes</canuninstall>
    <info>https://www.voximal.com</info>
	<changelog>
		*14.0* Changelog in the module directory.
	</changelog>
	<description>
    Voximal VoiceXML interpreter. It executes VoiceXML services and integrates Text To Speech (TTS) and Voice Recognition (ASR) engines or Cloud services.
	</description>
	<attention>
		This will install our FreePBX module to configure the app_voximal module. You can uninstall it whenever you want.
	</attention>
	<menuitems>
		<!-- <VOXIMAL category="Connectivity">Voximal</VOXIMAL>  -->
		<VOXIMALAPP category="Applications">Voximal</VOXIMALAPP>
        <VOXIMALSettings category="Settings">Voximal Settings</VOXIMALSettings>
        <VOXIMALLogFiles category="Reports">Voximal Logs</VOXIMALLogFiles>
        <VOXIMALStatistics category="Reports">Voximal Statistics</VOXIMALStatistics>
        <VOXIMALStatus category="Reports">Voximal Status</VOXIMALStatus>
        <!-- <VOXIMALEditor category="Editors">Voximal Editor</VOXIMALEditor>  -->
        <!-- <TTS category="Settings">TTS Engine</TTS> -->
        <!-- <MRCP category="Settings">MRCP Resources</MRCP> -->
        <!-- <STATS category="Reports">CDR Reports (Stats)</STATS> -->
	</menuitems>
	<popovers>
		<voximal>
			<display>voximalapp</display>
		</voximal>
  	</popovers>
</module>

